{#
/**
 * Main Layout
 *
 * This is the template that displays the site's Main Layout.
 */
#}
<!--[if lt IE 9]><html class="no-js no-svg ie lt-ie9 lt-ie8 lt-ie7" {{ site.language_attributes }}> <![endif]-->
<!--[if IE 9]><html class="no-js no-svg ie ie9 lt-ie9 lt-ie8" {{ site.language_attributes }}> <![endif]-->
<!--[if gt IE 9]><html class="no-js no-svg" {{ site.language_attributes }}> <![endif]-->
<!DOCTYPE html>
<html {{ function('language_attributes') }}>
  <head>
    <meta charset="{{ function('bloginfo', 'charset')}} ">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ function('bloginfo', 'name') }} {{ function('wp_title') }}</title>

    <link rel="profile" href="http://gmpg.org/xfn/11">
    <link rel="pingback" href="{{ function('bloginfo', 'pingback_url') }}">

    {{ function('wp_head') }}
  </head>

  <body {{ function('body_class') }}>
    <div id="{{ function('get_post_type') }}-{{ function('the_ID') }}">

      <header class="container-fluid">
          {% if function('get_theme_mod', 'navigationbar-callout-display') == 'Yes' %}
            <div class="logo">
              <a class="brand-logo" href="/"><img src={{ function('wp_get_attachment_url', function('get_theme_mod', 'navigationbar-callout-image'))}} alt="Solve IQ Logo"></a>
            </div>
            {% else %}
            <div class="logo">
              <a class="brand-logo" href="/">{{ function('bloginfo', 'name')}}</a>
            </div>
          {% endif %}

        <nav role="navigation" class="section-menu">
          {{ function('wp_nav_menu', {
            'theme_location'    : 'main-menu',
            'depth'             : 2,
            'menu_class'        : 'nav',
            'fallback_cb'       : 'WP_Bootstrap_Navwalker::fallback',
            'walker'            : WP_Bootstrap_Navwalker,
          }) }}
        </nav>
      </header>

        {% block content %}

        {% endblock %}

      <footer id="site-footer" role="contentinfo" class="wp-block-kioken-rowlayout fp-auto-height header-footer-group bg-dark-gray">
      </footer><!-- #site-footer -->

      {{ function('wp_footer') }}
    </div>
  </body>
</html>
