{% set id = 'card-' ~ block.id %}

<div class="card-block container-fluid theme-{{ content.theme }}" id="{{ id }}">
  <div class="row">
    <h2 class="title h1 w-100">{{ content.title }}</h2>

    {% if content.card_item %}
      <div class="container-fluid">
        <div class="row">
          {% for item in content.card_item %}
            <div class="col-12 col-md-6 col-lg-4 col-xl-3 item">
              <div class="info-content">
                <div class="image">
                <picture>
                  <source srcset="{{ item.card_item_image.url }}.webp" media="all" type="image/webp">
                  <source srcset="{{ item.card_item_image.url }}" media="all" type="image/jpeg">
                  <img class="img-fluid" src="{{ item.card_item_image.url }}" alt="{{ item.card_item_image.alt }}" typeof="foaf:Image">
                </picture>

                  <div class="category">{{ content.card_item[0]['card_item_category'].name }}</div>
                </div>

                <div class="content">
                  <h3 class="title h4">{{ item.title }}</h3>

                  <div class="info-city">{{ item.card_item_info_city }}</div>

                  <div class="location">{{ item.card_item_location }}</div>
                </div>

                <div class="cta-container">
                  <a class="cta" href="{{ item.card_item_cta.url }}">{{ item.card_item_cta.title }}</a>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>
