{#
/**
 * Default Page
 *
 * This is the template that displays the Default Page.
 */
#}
{% extends "layouts/main.twig" %}

{% block content %}
{% set page_url = _context.page_url  %}
	{% if page_url matches '{help-center}' %}
			{% set load_before = 'facetwp-custom-search' %}
	{% endif %}

	<div class="content-wrapper">
		<article class="post-type-{{post.post_type}} {{ load_before }}" id="post-{{post.ID}}">
			<section class="article-content">
				<h1 class="page-title  d-none">{{post.title}}</h1>
				<div class="article-body">
					{{post.content}}
				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
